<h1>Artist Search</h1>


<div class="cards-container">
    {{#each artistas}}
    <div class="cards">
        <img src="{{this.images.1.url}}" alt="{{this.name}}">
        <h2>{{this.name}}</h2>
        <a href="/albums/{{this.id}}"><button class="btn">See Albums</button></a>
    </div>
    {{/each}}

</div>