* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search-container {
    width: 100vw;
    height: 100vh;
    background-image: url("/images/spotify-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    background-color: rgba(240, 248, 255, 0.564);
    width: 70%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


.btn {

    background-color: rgba(239, 77, 77, 0.478);
    color: white;
    border: none;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
}

.input {
    border: none;
    width: 80%;
    padding: 5px 10px;
}

.cards-container {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.cards {
    background-color: #e8c9c9;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    width: 400px;
    padding: 10px;

}

.cards>img {
    width: 100%;
}

.cards>h2 {
    font-size: 2rem;

}